.home-container {
  text-align: center;
  width: 100vw;
  margin-bottom: -20px;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(51deg, rgba(0, 0, 0, 1) 14%, rgb(100, 245, 4) 50%);
  color: rgb(0, 0, 0);
  padding: 50px;
}

.hero-text {
  flex: 1;
  color: black;
  text-align: right;
  margin-right: 50px; /* Adjusted for proper alignment */
}

.hero-text h1 {
  color: black;
  text-align: right;
  font-size: 2.5em;
  margin: 0; /* Removed left margin for better alignment */
}

.start-now-link {
  color: white;
  background-color: #cd908b;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.start-now-link:hover {
  background-color: #a36a73;
}

.hero-text p {
  font-size: 1.2em;
}

.hero-text button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: black;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.hero-image {
  flex: 1;
  display: flex;
  margin-left: -50px;
}

.hero-image img {
  width: 100%;
  max-width: 550px;
}

.push-forward-section {
  padding: 50px;
  background-color: white;
}

.push-forward-section h2 {
  font-size: 2em;
  color: black;
}

.push-forward-section p {
  font-size: 1.2em;
  margin: 20px 0;
  color: black;
}

.features {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.feature {
  margin: 0 50px;
  text-align: center;
  color: black;
}

.feature img {
  width: 50px;
  height: 50px;
}

.stats-section {
  display: flex;
  justify-content: space-around;
  background-color: #02b602;
  color: white;
  padding: 50px;
  margin-bottom: 0;
}

.stat h3 {
  font-size: 2em;
  margin: 0;
}

.stat p {
  font-size: 1em;
}
