@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,300');

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.nutriPlanner-section {
  background-color: #ffffff; /* White background color */
  color: #000;
  padding: 40px 20px; /* Add padding around the entire section */
  width: 100%;
}

.nutriPlanner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.nutriPlanner-card {
  position: relative;
  width: 400px;
  height: 500px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.05), 2px 4px 32px rgba(0,0,0,0.1), 0 0 64px rgba(0,0,0,0.2);
  font-weight: 300;
  transition: transform 300ms ease;
  margin: 20px;
}

.nutriPlanner-card .nutriPlanner-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 70px;
  left: 0;
  background-position: center;
  background-size: cover;
  transition: bottom 300ms ease;
}

.nutriPlanner-card .nutriPlanner-content {
  color: #ffffff;
  position: absolute;
  z-index: 10;
  padding: 2rem;
  height: 100%;
  background: rgb(27, 27, 27);
  transform: translateY(314px);
  transition: transform 300ms ease, opacity 300ms ease;
}

.nutriPlanner-card .nutriPlanner-header {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(226, 225, 225);
}

.nutriPlanner-card .nutriPlanner-meta {
  font-size: 0.8rem;
  color: #888;
  margin-bottom: 0.5rem;
}

.nutriPlanner-card .nutriPlanner-description {
  opacity: 0;
  transition: opacity 500ms ease 100ms;
}

.nutriPlanner-card:hover {
  transform: translateY(-16px);
}

.nutriPlanner-card:hover .nutriPlanner-image {
  bottom: 280px;
}

.nutriPlanner-card:hover .nutriPlanner-content {
  transform: translateY(104px);
}

.nutriPlanner-card:hover .nutriPlanner-description {
  opacity: 1;
}

.h3 {
  margin-bottom: 50px;
  text-align: center;
}

.span1 {
  color: #000;
}

.span2 {
  color: rgb(0, 177, 0);
}
