[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
bcrypt-flask = "*"
flask-jwt-extended = "*"
werkzeug = "*"
cryptography = "*"
python-dotenv = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
