* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.programs-section {
  height: 100vh;
  background-color: #ffffff;
  color: #000;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Montserrat';
  font-weight: normal;
  color: #000000;
  text-align: center;
}

.wrapper1 {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
  color: #000;
}

.cols1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col1 {
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container1 {
  transform-style: preserve-3d;
  perspective: 1000px;
}

p {
  color: #ffffff;
}

.front1,
.back1 {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #000000;
  font-size: 1.5rem;
}

.back1 {
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}

.front1:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: 0.6;
  background-color: #000;
  backface-visibility: hidden;
  border-radius: 10px;
}

.container1:hover .front1,
.container1:hover .back1 {
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner1 {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
}

.container1 .back1 {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.container1 .front1 {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container1:hover .back1 {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container1:hover .front1 {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.front1 .inner1 p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front1 .inner1 p:after {
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #c6d4df;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.front1 .inner1 span {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 1024px) {
  .col1 {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 768px) {
  .col1 {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 480px) {
  .col1 {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

.program-button1 {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #6b9962;
}

.program-button1:hover {
  background-color: #57864d; /* Slightly darker shade for hover effect */
  transform: translateY(-3px);
}

.program-button1:active {
  background-color: #0b3a02; /* Even darker shade for active state */
}

.wrapper1 h1 {
  color: #000000;
}

.wrapper1 h2 {
  text-align: center;
}
