.trainer-section {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    
    text-align: center;
    width: calc(min(90rem, 90%));
    height: 100%;
    margin-inline: auto;
    margin-left: 110px;
  }
  
  .trainer-section p,
  .trainer-section h2,
  .trainer-section h3 {
    letter-spacing: 0.035rem;
  }
  
  .trainer-section p {
    line-height: 1.7;
    color: #454545;
    max-width: 70rem;
    margin: 0 auto;
    font-size: clamp(0.9rem, 0.825rem + 0.3vw, 1.2rem);
  }
  
  .trainer-section h2 {
    font-size: clamp(3rem, 2.4286rem + 2.2857vw, 5rem);
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1rem;
    justify-content: center;
  }
  
  .trainer-cards {
    margin-top: 4rem;
    padding: 50px; /* reduced padding to 20px */
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    gap: 4rem; /* reduced gap to 1rem */
  }
  
  .trainer-card {
    
    max-width: 450px; 
    
  }
  
  @media screen and (min-width: 51rem) {
    .trainer-cards {
      gap: 3.5rem;
    }
  }
  
  
  
  .trainer-card .social-icon {
    background: #111;
    padding: 1rem 1.75rem;
    display: inline-block;
    position: absolute;
    left: 0;
  }
  
  .trainer-card .social-icon i {
    color: #fff;
    font-size: 1.4rem;
  }
  
  .trainer-card .social-icon:hover i {
    color: #003ef5;
  }
  
  .trainer-card img {
    filter: grayscale(100%);
    transition: 0.5s ease;
  }
  
  .trainer-card img:hover {
    filter: grayscale(0%);
  }
  
  .trainer-card .trainer-content-wrapper {
    margin-left: auto;
    max-width: 90%;
  }
  
  .trainer-card .trainer-content-wrapper .trainer-content {
    display: block;
    background: white;
    transition: 0.5s ease;
    padding: 4.5rem 2rem 0 3.2rem;
  }
  
  .trainer-card .trainer-content-wrapper .trainer-content > div {
    text-align: right;
  }
  
  .trainer-card .trainer-content-wrapper .trainer-content h3,
  .trainer-card .trainer-content-wrapper .trainer-content p {
    text-transform: capitalize;
  }
  
  .trainer-card .trainer-content-wrapper .trainer-content h3 {
    font-size: clamp(1.15rem, 1.1071rem + 0.1714vw, 1.3rem);
    font-weight: 800;
    color: #111;
  }
  
  .trainer-card .trainer-content-wrapper .trainer-content p {
    color: #454545;
    font-size: 0.9rem;
  }
  
  .trainer-card .trainer-content-wrapper .trainer-content svg {
    display: inline-block;
    text-align: right;
    width: 60px;
    color: #003ef5;
  }
  
  .trainer-card .trainer-img-wrapper:hover ~ .trainer-content-wrapper .trainer-content {
    background: #003ef5;
  }
  
  .trainer-card .trainer-img-wrapper:hover ~ .trainer-content-wrapper .trainer-content h3,
  .trainer-card .trainer-img-wrapper:hover ~ .trainer-content-wrapper .trainer-content p,
  .trainer-card .trainer-img-wrapper:hover ~ .trainer-content-wrapper .trainer-content svg {
    color: #fff;
  }
  
  .trainer-card .trainer-content-wrapper:hover .trainer-content {
    background: #003ef5;
  }
  
  .trainer-card .trainer-content-wrapper:hover .trainer-content h3,
  .trainer-card .trainer-content-wrapper:hover .trainer-content p,
  .trainer-card .trainer-content-wrapper:hover .trainer-content svg {
    color: #fff;
  }